/****************************************************/
/*              PAGE HTML INDEX                     */
/****************************************************/

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: darkslategray;
    background-size: cover;
}

/*===========================================================*/
/*    Toiles d'araignée affichées dans les coins de l'écran  */
/*===========================================================*/

#imgToileGauche,
#imgToileDroite {
    position: absolute;
    top: 0;
    z-index: -1;
}

#imgToileGauche {
    left: 0;
}

#imgToileDroite {
    right: 0;
}

/*=================================*/
/*    En-tête et pied-de-page      */
/*=================================*/

header {
    text-decoration: none;
    color: ivory;
    text-align: center;
}

footer {
    color: ivory;
    text-align: center;
    margin-top: 10px;
}

article {
    overflow: auto;
}


/*=================================*/
/*         Les boutons et liens    */
/*=================================*/

button,
.monCv {
    cursor: pointer;
    border: 4px solid ivory;
    border-radius: 50px;
    font-size: 1rem;
    font-weight: bolder;
}

.monCv {
    display: inline-block;
    text-align: center;    
    width: 72px;
    line-height: 72px;
    vertical-align: middle;
    padding: 0;
}

button {
    width: 80px;
    height: 80px;    
}

button,
.monCv:focus {
    outline-style: none;
}

.baston {
    background-color: red;
    color: yellow;
    margin: auto;
}

.jouer {
    background-color: orange;
    color: yellow;
    margin: auto;
}

.monCv {
    background-color: DARKCYAN;
    color: purple;
    margin: auto;
}

#imgHome,
#imgMonCv {
    display: none;
    position: absolute;
}

#imgHome {
    top: -15px;
    left: 10%;
}

#imgMonCv {
    top: 0px;
    right: 8%;
}

/*============================================*/
/*   Accueil: présentation du jeu             */
/*============================================*/

#presentation {
    display: flex;
    justify-content: center;
}

#presentation article {
    background-color: tan;
    border-radius: 20px;
    box-shadow: 0px 0px 15px #050100;
    margin: 20px;
    padding: 30px 40px;
    color: black;
    height: 400px;
    min-width: 300px;
}

.pitch {
    width: 40%;
}

.choix {
    width: 35%;
}

#onjoue {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0;
}

#versCv {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0;
}

#texteLienCv1 {
    width: 51%;
}

#lienMoncv {
    margin: 0 25px;
}

/*===============================*/
/*   Page des règles du jeu      */
/*===============================*/

#jeu {
    display: none;
}

header {
    display: flex;
    justify-content: space-around;
}

#scene {
    position: relative;
    top: 0;
    left: 17.5%;
    background-image: url('../images/cave_jeu_2.jpg');
    background-size: cover;
    color: ivory;
    /* box-shadow: 0px 0px 15px #050100; */
    border: 4px solid tan;
    border-radius: 20px;
    width: 65%;
}

#rdj {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

#rdj div:nth-child(1) {
    width: 50%;
}

#rdj div:nth-child(2) {
    width: 35%;
}

.regles {
    margin-top: 20px;
}

#touches li {
    list-style-type: none;
    margin-left: -10px;
    margin-top: 5px;
}

#onyva {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    width: 50%;
}

/*======================*/
/*   Page de jeu        */
/*======================*/

#jouer {
    display: none;
}

/*   Sprites et masques des personnages  */

#arthur,
#georges {
    position: absolute;
    top: 0;
    left: 0;
}

#arthurMasque,
#georgesMasque {
    position: absolute;
    bottom: 50px;
    left: 0px;
    width: 0px;
    height: 0px;
    overflow: hidden;
}

/* Affichage des blasons */

#blasonsConteneur {
    width: 900px;
    margin: auto;
}

#blasonsMasque {
    width: 0px;
    height: 91px;
    overflow: hidden;
}

/* Affichage du score */

#score {
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    padding: 50px;
}

#nbBlasons,
#nbGamelles {
    font-size: 1.5rem;
    color: ivory;
    font-size: 2rem;
    font-weight: bolder;
    text-align: center;
}

/*====================================*/
/*    Page proposant de rejouer       */
/*====================================*/

#rejouer {
    display: none;
    position: absolute;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 9;
}

#rejouer>div {
    font-size: 2rem;
    width: 200px;
    margin: 100px auto;
}

.boutonsVertical {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 300px;
    width: 200px;
}

/**************************/
/*      PAGE HTML CV      */
/**************************/
#cv {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
}

iframe {
    border: 4px solid tan;
}